Repository deco-cx/apps, pull requests merged in 2023-10, with the labels that each got.

#114 feat: Add preventCollect props analytics
  deno.json
  website/components/Analytics.tsx
Labels: enhancement

#138 feat: redirects and redirect loader
  compat/std/loaders/x/redirects.ts
  deno.json
  website/loaders/redirect.ts
  website/loaders/redirects.ts
  website/manifest.gen.ts
Labels: enhancement

#174 allow first page to be 1
  algolia/loaders/product/listingPage.ts
Labels: algolia

#175 lint
  algolia/loaders/product/listingPage.ts
Labels: algolia

#178 fix: remove map and term when fq is set
  vtex/loaders/legacy/productListingPage.ts
Labels: vtex
