Repository deco-cx/apps, pull requests merged in 2023-12, with the labels that each got.

#200 feat: Caching loaders
  admin/manifest.gen.ts
  algolia/manifest.gen.ts
  commerce/manifest.gen.ts
  compat/$live/manifest.gen.ts
  compat/std/manifest.gen.ts
  decohub/manifest.gen.ts
  deno.json
  linx/manifest.gen.ts
  nuvemshop/manifest.gen.ts
  power-reviews/manifest.gen.ts
  shopify/manifest.gen.ts
  shopify/utils/storefront/storefront.graphql.gen.ts
  typesense/manifest.gen.ts
  verified-reviews/manifest.gen.ts
  vnda/manifest.gen.ts
  vtex/actions/analytics/sendEvent.ts
  vtex/actions/cart/addItems.ts
  vtex/actions/cart/getInstallment.ts
  vtex/actions/cart/removeItemAttachment.ts
  vtex/actions/cart/removeItems.ts
  vtex/actions/cart/simulation.ts
  vtex/actions/cart/updateAttachment.ts
  vtex/actions/cart/updateCoupons.ts
  vtex/actions/cart/updateItemAttachment.ts
  vtex/actions/cart/updateItemPrice.ts
  vtex/actions/cart/updateItems.ts
  vtex/actions/cart/updateProfile.ts
  vtex/actions/cart/updateUser.ts
  vtex/loaders/cart.ts
  vtex/loaders/intelligentSearch/productDetailsPage.ts
  vtex/loaders/intelligentSearch/productList.ts
  vtex/loaders/intelligentSearch/productListingPage.ts
  vtex/loaders/intelligentSearch/suggestions.ts
  vtex/loaders/legacy/productDetailsPage.ts
  vtex/loaders/legacy/productList.ts
  vtex/loaders/legacy/productListingPage.ts
  vtex/loaders/legacy/relatedProductsLoader.ts
  vtex/loaders/product/extend.ts
  vtex/loaders/product/extensions/detailsPage.ts
  vtex/loaders/product/extensions/list.ts
  vtex/loaders/product/extensions/listingPage.ts
  vtex/loaders/product/extensions/suggestions.ts
  vtex/manifest.gen.ts
  vtex/middleware.ts
  vtex/utils/cacheBySegment.ts
  vtex/utils/extensions/simulation.ts
  vtex/utils/intelligentSearch.ts
  vtex/utils/legacy.ts
  vtex/utils/segment.ts
  vtex/utils/vtexId.ts
  wake/manifest.gen.ts
  website/handlers/fresh.ts
  website/handlers/router.ts
  website/manifest.gen.ts
  workflows/manifest.gen.ts
Labels: vtex

#230 fix: Remove throw on missing tokens
  wake/mod.ts
Labels: wake

#265 Fix region code on location matcher
  website/matchers/location.ts
Labels: website
