Repository deco-cx/apps, pull requests merged in 2024-01, with the labels that each got.

#177 feat: add script props to mantain retrocompatibility with std
  vtex/components/VTEXPortalDataLayerCompatibility.tsx
Labels: vtex, needs review

#318 [VTEX] 'fuzzy' property added in productList loader
  vtex/loaders/intelligentSearch/productList.ts
  vtex/loaders/intelligentSearch/productListingPage.ts
Labels: vtex, needs review

#317 fix canonical to lowercase
  vtex/utils/legacy.ts
Labels: vtex, needs review

#316 feat(vnda): implement filter operator
  vnda/loaders/productListingPage.ts
  vnda/utils/client/client.ts
Labels: vnda, needs review

#221 Fix: Missing `sc` segment param in VTEX legacy for sales channel
  vtex/mod.ts
  vtex/utils/legacy.ts
Labels: vtex

#320 FEAT/PLP Extension (Verified reviews)
  admin/manifest.gen.ts
  algolia/manifest.gen.ts
  commerce/manifest.gen.ts
  compat/$live/manifest.gen.ts
  compat/std/manifest.gen.ts
  decohub/manifest.gen.ts
  linx/manifest.gen.ts
  nuvemshop/manifest.gen.ts
  platforms/kubernetes/manifest.gen.ts
  power-reviews/manifest.gen.ts
  shopify/manifest.gen.ts
  verified-reviews/loaders/productList.ts
  verified-reviews/loaders/productListingPage.ts
  verified-reviews/manifest.gen.ts
  verified-reviews/utils/client.ts
  verified-reviews/utils/transform.ts
  vnda/manifest.gen.ts
  vtex/manifest.gen.ts
  vtex/utils/legacy.ts
  wake/manifest.gen.ts
  website/manifest.gen.ts
  workflows/manifest.gen.ts
Labels: needs review

#328 [Shopify] - Fix stock filter
  shopify/loaders/ProductListingPage.ts
  shopify/utils/utils.ts
Labels: shopify, needs review

#306 Vnda seo
  vnda/loaders/productDetailsPage.ts
  vnda/loaders/productListingPage.ts
  vnda/utils/transform.ts
Labels: vnda, needs review

#325 chore: wishlist getItem type
  wake/hooks/useWishlist.ts
Labels: wake

#315 fix: way to render navItem props at admin
  commerce/types.ts
Labels: needs review

#349 feat: add matchers title, description and icon
  weather/matchers/temperature.ts
  website/matchers/always.ts
  website/matchers/cookie.ts
  website/matchers/cron.ts
  website/matchers/date.ts
  website/matchers/device.ts
  website/matchers/environment.ts
  website/matchers/host.ts
  website/matchers/location.ts
  website/matchers/multi.ts
  website/matchers/negate.ts
  website/matchers/never.ts
  website/matchers/queryString.ts
  website/matchers/random.ts
  website/matchers/site.ts
  website/matchers/userAgent.ts
Labels: website

#332 [Shopify] - Add more information to product collections
  shopify/utils/transform.ts
Labels: shopify, needs review
